<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gauravthakur.cs.example.listme">

    <application
        android:allowBackup="true"
        android:icon="@drawable/lml"
        android:label="List Me"
        android:roundIcon="@drawable/lml"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDoNotify">
        <activity
            android:name="com.gauravthakur.cs.example.listme.DetailActivity"
            android:exported="false" />
        <activity
            android:name="com.gauravthakur.cs.example.listme.MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>